body{
    padding-top: 55px;
    background-color: white;
}
/* Navbar */
nav{
    background-color: #c2d3ba;
    font-family: 'Bodoni Moda', serif;
}
.navbar-brand{
    color: #3a4435;

}

.header_content{
    text-align: center;
    margin-left: 400px;
}
.content{
    float: right;
    width: 55%;
}
/* .about_section{
    margin: 100px;
    margin-left: 50%;

} */

/* carousel Index page */
.carousel-home{
    margin-left: 30%;
    margin-top: 5%;
    width: 80%;
}
.carousel-control-next {
    right: 50%;
    bottom: 5px;
    color: black;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-flex;
    width: 3rem;
    height: 25rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}
/* home page contents */
.home-content{
    text-align: center;
    
}

/*footer css*/
footer{
    position: relative;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: #c2d3ba; /*place holder color*/
}

.f-section{
    margin-inline: 25px;
    font-family: 'Bodoni Moda', serif;
    color: #3a4435;
}

.f-section:hover{
    
    color: #fff9e8; /*place holder color*/
}


/*checkout page css*/

.last-input-line{
    display: flex;
}

/*image and positioning*/
.about-image{
	float: left;
	width: 40%;
}
.about-image img{
	width: 100%;
	height: auto;
}

/* about page button */
.button{
    background-color: #c2d3ba;
    width: fit-content;
    margin-left: 200px;;
}
/* checkout page */
.checkout_header{
    text-align: center;
    padding: 20px;
}
.card{
    padding: 30px;
    margin: 20px;
    margin-right: 20%;
}

